:root {
    --text-main: #e44d26
}


.icon-color {
    color: var(--text-main);
}

#img-profile {
    width: 200px !important;
    height: 200px !important;

}

.title h3 {
    font-size: 5rem !important;
    font-weight: 900;
    color: #ddd9d9;
}

.title h2 {
    font-size: 3rem !important;
    font-weight: 500;
    color: black;
}

#About {
    /* background-image: url(../images/Lovepik_com-400447403-dot-line-slant-shading.png) ; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}


.parent {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    margin-top: 5px;
   
    position: relative;
}

.child {
    height: 90px;
    width: 90px;
    background-color: rgb(255, 127, 180);
    margin-top: inherit;
    position: absolute;
    top: 0;
    right: 0;
  
    
}